openapi: 3.0.1
info:
  title: api
  version: 0.1.0
paths:
  /key/create:
    post:
      description: >
        This endpoint is used to generate an API key for a given user.  This API
        key is for the Application User it is assigned for only, and only for
        your API.
      operationId: ApiKeyService.generate
      tags:
        - ApiKeys
      parameters: []
      responses:
        '200':
          description: Returns the device model object if it exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
              examples:
                Example1:
                  value:
                    id: example
                    createdAt: example
                    updatedAt: example
                    deletedAt: example
                    apiKey: example
                    isPaused: false
                    isRevoked: true
                    isRotatedOff: false
                    numOfRequest: 5
                    firstTimeRequest: example
                    applicationUser:
                      id: example
                      createdAt: example
                      updatedAt: example
                      deletedAt: example
                      applicationUserForeignId: example
      summary: Generate an API key
      security: &ref_0
        - AuthenticationAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationUserForeignId:
                  type: string
                  description: >
                    This is a unique index on your database to find users.  This
                    will allow us to know which API key associates to each user
                    on your application's end.
                description:
                  type: string
                  description: >
                    This is the description applied to an API key to identify it
                    for a human.  Use this to describe who the key belongs to,
                    or why this key is relevant/exists.
            examples:
              Example1:
                value:
                  applicationUserForeignId: my-id
                  description: My description
  /keys/revoke:
    delete:
      description: >
        This endpoint is used to revoke a key. 

        Revoking an API key means making all of it's content and previous data
        still persistent, but no longer usable. 

        Once a key is revoked, it can never be set back to normal.
      operationId: ApiKeyService.revoke
      tags:
        - ApiKeys
      parameters: []
      responses:
        '200':
          description: >-
            The response of this API request gives back information on an
            Application User's API Key that was revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
      summary: Revoke an API Key
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKey:
                  type: string
                  description: >-
                    This API key is generated by Integral and passed to the
                    Application User.
              required:
                - apiKey
components:
  schemas:
    ApiKey:
      type: object
      properties:
        id:
          type: string
          example: example
        createdAt:
          type: string
          example: example
        updatedAt:
          type: string
          example: example
        deletedAt:
          type: string
          example: example
        apiKey:
          type: string
          example: example
        isPaused:
          type: boolean
          example: false
        isRevoked:
          type: boolean
          example: true
        isRotatedOff:
          type: boolean
          example: false
        numOfRequest:
          type: integer
          example: 5
        firstTimeRequest:
          type: string
          example: example
        applicationUser:
          $ref: '#/components/schemas/ApplicationUser'
      required:
        - id
        - createdAt
        - updatedAt
        - deletedAt
        - apiKey
        - isPaused
        - isRevoked
        - isRotatedOff
        - numOfRequest
        - firstTimeRequest
        - applicationUser
    ApplicationUser:
      type: object
      properties:
        id:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        deletedAt:
          type: string
        applicationUserForeignId:
          type: string
      required:
        - id
        - createdAt
        - updatedAt
        - deletedAt
        - applicationUserForeignId
  securitySchemes:
    AuthenticationAuth:
      type: apiKey
      in: header
      name: Authentication
servers:
  - url: https://api.integralapi.co/public
    description: Production
  - url: http://localhost:3000/
    description: Local
